*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:#d2d2d2;
}
a{
    color: #545454;
    text-decoration: none;
}

.container{
    width: 90%;
    margin: auto;
}
/*Estilos de navegación*/
.input-group{
    width: 320px;
}
.nav-main{
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.class-logo{
    width: 200px;
}

.user{
    padding-right: 5px;
}
.nav-main ul{
    display: flex;
    list-style: none;
}

.nav-main ul.menu li{
    padding: 35px;
}
.nav-main ul.menu{
    flex: 1;
    margin-left: 20px;
}

/*FORMS*/
.formularios{
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    display: flex;
}
.ini-ses{
    background-color: rgb(136, 136, 136);
    padding: 30px;
    margin-left:150px;
    border-radius: 10px;
}
.regis{
    background-color: rgb(136, 136, 136);
    padding: 40px;
    margin-right: 150px;
    border-radius: 10px;
}
.logo-insta{
    width: 30px;
}
.logo-twitter{
    width: 30px;
}